:root,
:root[theme-mode="light"] {
  --td-brand-color-1: #e8f7ef;
  --td-brand-color-2: #d0efe1;
  --td-brand-color-3: #a2d6c1;
  --td-brand-color-4: #71bba1;
  --td-brand-color-5: #509f85;
  --td-brand-color-6: #23856a;
  --td-brand-color-7: #2a7161;
  --td-brand-color-8: #00523e;
  --td-brand-color-9: #003b2c;
  --td-brand-color-10: #00251a;
}

:root[theme-mode="dark"] {
  --td-brand-color-1: #509f8520;
  --td-brand-color-2: #003b2c;
  --td-brand-color-3: #00523e;
  --td-brand-color-4: #01755b;
  --td-brand-color-5: #23856a;
  --td-brand-color-6: #509f85;
  --td-brand-color-7: #71bba1;
  --td-brand-color-8: #a2d6c1;
  --td-brand-color-9: #d0efe1;
  --td-brand-color-10: #e8f7ef;
}
