body {
  @apply h-screen bg-dark-100 text-white font-mono;
}

label,
input,
button {
  cursor: pointer;
  outline: none;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 4px #96fae9 !important;
}
.rc-slider-handle:focus-visible {
  box-shadow: 0 0 0 3px #96fae9 !important;
}
